
  
    <!--Content-->
    <div class="modalShow" >
    <div class="modal-content text-center border-success">
      <div class="modal-header">
        <h4 class="modal-text" >!Success¡</h4>
      </div>
      <!--Body-->
        
        <!-- <i class="fas fa-times fa-4x animated rotateIn"></i> -->
        <img src="assets/img/succes.gif" class="img-fluid" style="width:  550px; height: 150%; border-width: 80%;">
    
        <!--Footer-->
      <div class="modal-footer flex-center border-success">
        <button class="btn-srv-white--clr-3--rounded px-20" (click)="closeModal()">ok</button>
      </div>
    </div>
  </div>

    <!--/.Content-->

