$clr-1:#03A454;
$clr-2:#A8CF45;
$clr-3:#ED3338;
$clr-4:#E6EFFD;
$clr-5:#DFECFD;
$clr-6:#f5ed16;

$clr-gray-95:#F6F6F6;
$clr-gray-90:#EBEEE9;
$clr-gray-50:#A8A8A8;
$clr-gray-5:#1B1C1E;

$clr-white:#ffffff;
$clr-black:#000000;