@import './color-constants.scss';

// backgrounds
.bkg-clr-1 {
    background-color: $clr-1;
}

.bkg-clr-2 {
    background-color: $clr-2;
}

.bkg-clr-3 {
    background-color: $clr-3;
}

.bkg-clr-4 {
    background-color: $clr-4;
}

.bkg-clr-5 {
    background-color: $clr-5;
}


.bkg-gray-95 {
    background-color: $clr-gray-95;
}

.bkg-gray-90 {
    background-color: $clr-gray-90;
}

.bkg-gray-50 {
    background-color: $clr-gray-50;
}

.bkg-white {
    background-color: $clr-white;
}

.bkg-black {
    background-color: $clr-black;
}
.bkg-transparent {
    background-color: transparent
}

// fonts
.fnt-clr-1 {
    color: $clr-1;
}

.fnt-clr-2 {
    color: $clr-2;
}

.fnt-clr-3 {
    color: $clr-3;
}

.fnt-clr-4 {
    color: $clr-4;
}

.fnt-clr-5 {
    color: $clr-5;
}
.fnt-clr-6 {
    color: $clr-6;
}


.fnt-white {
    color: $clr-white;
}


.fnt-gray-90 {
    color: $clr-gray-90;
}


.fnt-gray-50 {
    color: $clr-gray-50;
}

.fnt-gray-5 {
    color: $clr-gray-5;
}

.fnt-white {
    color: $clr-white;
}

.fnt-black {
    color: $clr-black;
}
.fnt-transparent {
    color: transparent;
}
