
<!--Modal: modalConfirmDelete-->
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fa-solid fa-circle-exclamation"></i><br>
        <span>Estas seguro?</span>
        <p>estas seguro de que quieres guardar</p>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button type="submit" class="btn-srv-white--clr-1--rounded"><i class="bi bi-check-lg"></i></button>
        <button type="submit" class="btn-srv-white--clr-3--rounded"><i class="bi bi-x"></i></button>
      </div>
    </div>
    <!--/.Content-->

<!--Modal: modalConfirmDelete-->